
.mainscreen {
  padding-top: 150px;
}

.card {
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 80%;
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding-bottom: 30px
}

.subline {
  border: 0;
  background-color: rgba(0,123,255,.25);
  border-bottom: 0;
  height: 1px;
}

.mainline {
  border: 0;
  border-bottom: 0;
  background-color: #e9ecef;
  height: 5px;
}

.form-control {
  width: 70%;
  margin: 0 auto;
}

.profile{
	background-color: #fff;
	width: 50%;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.top-container{
	display: flex;
	align-items: center;
  justify-content: center


}

.name{
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
	color: grey;
	position: relative;
	top: 2px;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;
  justify-content: center
}

.middle-container:hover {
	border: 1px solid #5957f9;
}

.round-div{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.current-balance{
	color: #272727;
	font-weight: bold;
}
.amount{
	color: #5957f9;
	font-weight: bold;
}
